html,
html * {
  -webkit-font-smoothing: antialiased;
}

.owl-carousel.owl-loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-stage-outer {
  width: 100%;
}

.owl-nav,
.owl-dots {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.owl-nav {
  gap: 20px;
  right: 0;
}

.owl-nav.disabled {
  display: none !important;
}

.owl-nav svg circle {
  fill: #4561ec;
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.owl-nav .owl-prev.disabled svg circle,
.owl-nav .owl-next.disabled svg circle {
  fill: #7e93fb;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.res-items .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tes-items .owl-stage,
.tes-items .owl-item,
.sol-items .owl-stage,
.sol-items .owl-item,
.fc-items .owl-stage,
.fc-items .owl-item,
.sh-items .owl-stage,
.sh-items .owl-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.res-items .owl-dots,
.sol-items .owl-dots,
.fc-items .owl-dots,
.sh-items .owl-dots {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sol-items .owl-dots {
  width: calc(100% - 182px);
}

.fc-items .owl-dot,
.res-items .owl-dot,
.sol-items .owl-dot,
.sh-items .owl-dot {
  background: #373839;
  height: 1px;
  padding: 0;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.fc-items .owl-dot.active,
.res-items .owl-dot.active,
.sol-items .owl-dot.active,
.sh-items .owl-dot.active {
  background: #7e93fb;
  height: 4px;
}

.sh-items .owl-dot:not(.active) {
  background: #bebec4;
}
.sh-items.owl-loaded {
  overflow: visible;
}
@media only screen and (min-width: 992px) {
  .sh-items .owl-stage-outer {
    min-width: calc(100% + 60px);
    overflow: hidden;
  }
}
.sh-items .owl-dots {
  width: calc(100% - 112px);
}
.sh-items .owl-item:not(.active) .sh-item, .sh-items .owl-item.active + .active + .active .sh-item {
  opacity: 0.24;
}
.sh-items .owl-item:last-child .sh-item {
  border: none;
}
.sh-items .sh-item {
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.res-items .owl-dots,
.fc-items .owl-dots {
  width: 100%;
}
.res-items .owl-dot:not(.active),
.fc-items .owl-dot:not(.active) {
  background: #adbbff;
}

.tes-items .owl-item:not(.active) .tes-item * {
  color: #bebec4;
}
.tes-items .owl-dots {
  gap: 4px;
  counter-reset: dots;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #4561ec;
}
.tes-items .owl-dot {
  background: none;
  padding: 0;
  display: none;
}
.tes-items .owl-dot.active,
.tes-items .owl-dot:last-child {
  display: block;
}
.tes-items .owl-dot:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.tes-items .owl-dot:last-child span:first-of-type {
  display: none;
}
.tes-items .owl-dot:last-child.active span:first-of-type {
  display: block;
}

@media only screen and (max-width: 767px) {
  .sol-items .owl-nav,
  .sh-items .owl-nav {
    display: none;
  }
  .sol-items .owl-dots,
  .sh-items .owl-dots {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .tes-items .owl-item:last-child .tes-item {
    border: none;
  }
}
.about-us[data-background=white] {
  background-color: #e7ebff;
}

.about-us[data-background=gray] {
  background-color: #17181c;
}

.about-us[data-background=white] {
  background-color: #e7ebff;
}

.about-us[data-background=gray] {
  background-color: #17181c;
}

.about-us[data-background=white] h2 {
  color: #000;
}

.about-us[data-background=white] div {
  color: #373839;
}

.about-us[data-background=gray] h2 {
  color: #fff;
}

.about-us[data-background=gray] div {
  color: #bebec4;
}

code {
  color: var(--indigo);
  font-family: "Inter";
  font-weight: 600;
}

.reources[data-background=black] {
  background-color: #000;
}

.reources[data-background=black] h2,
.reources[data-background=black] div {
  color: #fff;
}

.testimonial[data-background=white] {
  background-color: white;
}

.testimonial[data-background=gray] {
  background-color: #f4f6ff;
}

.blog-details code {
  font-family: "Inter Tight";
  color: var(--indigo);
  font-weight: 600;
}

.blog-details h3 {
  font-weight: normal;
}

.blog-details figcaption {
  color: var(--black);
  font-family: Inter, sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .blog-details h3 {
    font-size: 20px;
  }
}
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.vimeo-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero .w-richtext h1 {
  margin: 0;
}

.cl-accordion-data img,
.cl-accordion-data .cl-accord-heading {
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}
.cl-accordion-data.open {
  gap: 10px;
}
.cl-accordion-data.open img,
.cl-accordion-data.open .cl-accord-heading {
  opacity: 100%;
}
.cl-accordion-data.open .cl-accordion-desc {
  height: auto;
}

.w-container:before,
.w-container:after {
  content: none;
}

@media screen and (max-width: 990px) {
  .cl-accordion-data.open .sol-acc-img.is-mobile {
    display: block;
  }
}
.cl-accordion-data .cl-accordion-desc p:last-child {
  margin: 0;
}