.owl-carousel.owl-loaded {
	display: flex;
}

.owl-stage-outer {
	width: 100%;
}

.owl-nav,
.owl-dots {
	position: absolute;
	bottom: 0;
	display: flex;
}

.owl-nav {
	gap: 20px;
	right: 0;
}

.owl-nav.disabled {
	display: none !important;
}

.owl-nav svg circle {
	fill: #4561ec;
	transition: fill 0.3s ease-in-out;
}

.owl-nav .owl-prev.disabled svg circle,
.owl-nav .owl-next.disabled svg circle {
	fill: #7e93fb;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
	padding: 0;
	background: none;
	border: none;
	outline: none;
	display: flex;
}

.res-items .owl-stage {
	display: flex;
}

.tes-items,
.sol-items,
.fc-items,
.sh-items {
	.owl-stage,
	.owl-item {
		display: flex;
	}
}

.res-items,
.sol-items,
.fc-items,
.sh-items {
	.owl-dots {
		height: 32px;
		display: flex;
		align-items: center;
	}
}

.sol-items,
.sh-items {
	.owl-dots {
		width: calc(100% - 182px);
	}
}

.fc-items,
.res-items,
.sol-items,
.sh-items {
	.owl-dot {
		background: #373839;
		height: 1px;
		padding: 0;
		border: none;
		flex: 1;

		&.active {
			background: #7e93fb;
			height: 4px;
		}
	}
}

.res-items,
.fc-items {
	.owl-dots {
		width: 100%;
	}

	.owl-dot {
		background: #adbbff;
	}
}

.sh-item {
    .owl-dot {
        &:not(.active) {
            background: #BEBEC4;
        }
    }
}

.tes-items {
	.owl-item:not(.active) .tes-item * {
		color: #bebec4;
	}

	.owl-dots {
		gap: 4px;
		counter-reset: dots;
		font-family: Inter, sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: #4561ec;
	}

	.owl-dot {
		background: none;
		padding: 0;
		display: none;
	}

	.owl-dot.active,
	.owl-dot:last-child {
		display: block;
	}

	.owl-dot:last-child {
		display: flex;
		gap: 4px;
	}

	.owl-dot:last-child span:first-of-type {
		display: none;
	}

	.owl-dot:last-child.active span:first-of-type {
		display: block;
	}
}

@media only screen and (max-width: 767px) {
	.sol-items .owl-nav {
		display: none;
	}

	.sol-items .owl-dots {
		width: 100%;
	}
}

@media only screen and (min-width: 992px) {
	.tes-items .owl-item:last-child .tes-item {
		border: none;
	}
}

.about-us[data-background="white"] {
	background-color: #e7ebff;
}

.about-us[data-background="gray"] {
	background-color: #17181c;
}

.about-us[data-background="white"] {
	background-color: #e7ebff;
}

.about-us[data-background="gray"] {
	background-color: #17181c;
}

.about-us[data-background="white"] h2 {
	color: #000;
}

.about-us[data-background="white"] div {
	color: #373839;
}

.about-us[data-background="gray"] h2 {
	color: #fff;
}

.about-us[data-background="gray"] div {
	color: #bebec4;
}

code {
	color: var(--indigo);
	font-family: "Inter";
	font-weight: 600;
}

.reources[data-background="black"] {
	background-color: #000;
}

.reources[data-background="black"] h2,
.reources[data-background="black"] div {
	color: #fff;
}

.testimonial[data-background="white"] {
	background-color: white;
}

.testimonial[data-background="gray"] {
	background-color: #f4f6ff;
}

.blog-details code {
	font-family: "Inter Tight";
	color: var(--indigo);
	font-weight: 600;
}

.blog-details h3 {
	font-weight: normal;
}

.blog-details figcaption {
	color: var(--black);
	font-family: Inter, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

@media screen and (max-width: 767px) {
	.blog-details h3 {
		font-size: 20px;
	}
}

.hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

.vimeo-container {
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.hero {
    .w-richtext {
        h1 {
            margin: 0;
        }
    }
}

.cl-accordion-data {
    img, .cl-accord-heading {
        transition: opacity 0.4s ease-in-out;
    }

    &.open {
        gap: 10px;

        img,
        .cl-accord-heading {
            opacity: 100%;
        }

        .cl-accordion-desc {
            height: auto;
        }
    }
}

.w-container:before, 
.w-container:after {
    content: none;
}