html,
html * {
	-webkit-font-smoothing: antialiased;
}

.no-scroll {
	overflow: hidden;
}

.owl-carousel.owl-loaded {
	display: flex;
}

.owl-stage-outer {
	width: 100%;
}

.owl-nav,
.owl-dots {
	position: absolute;
	bottom: 0;
	display: flex;
}

.owl-nav {
	gap: 20px;
	right: 0;

	.owl-prev,
	.owl-next {
		padding: 0;
		background: none;
		border: none;
		outline: none;
		display: flex;
		transition: all 0.3s ease-in-out;

		svg circle {
			fill: #4561ec;
			transition: fill 0.3s ease-in-out;
		}

		&.disabled svg circle {
			fill: #7e93fb;
		}

		&:not(.disabled) {
			transform: scale(1);
			transition: transform 0.3s ease-in-out;

			&:hover {
				transform: scale(1.3);
			}
		}
	}

	&.disabled {
		display: none;
	}
}

.res-items .owl-stage {
	display: flex;
}

.tes-items,
.sol-items,
.fc-items,
.sh-items,
.lp-items,
.ar-items {
	.owl-stage,
	.owl-item {
		display: flex;
	}
}

.res-items,
.sol-items,
.fc-items,
.sh-items,
.lp-items,
.ar-items {
	.owl-dots {
		height: 32px;
		display: flex;
		align-items: center;
	}
}

.sol-items {
	.owl-dots {
		width: calc(100% - 182px);
	}
}

.fc-items,
.res-items,
.sol-items,
.sh-items,
.lp-items,
.ar-items {
	.owl-dot {
		background: #373839;
		height: 1px;
		padding: 0;
		border: none;
		flex: 1;

		&.active {
			background: #7e93fb;
			height: 4px;
		}
	}
}

.sh-items,
.lp-items,
.ar-items {
	.owl-dot {
		&:not(.active) {
			background: #bebec4;
		}
	}

	&.owl-loaded {
		overflow: visible;
	}

	.owl-dots {
		width: calc(100% - 112px);
	}
}

.sh-items {
	.owl-item {
		&:not(.active),
		&.active + .active + .active {
			.sh-item {
				opacity: 0.24;
			}
		}

		&:last-child .sh-item {
			border: none;
		}
	}

	.sh-item {
		transition: opacity 0.3s ease-in-out;
	}

	@media only screen and (min-width: 992px) {
		.owl-stage-outer {
			min-width: calc(100% + 60px);
			overflow: hidden;
		}
	}
}

.res-items,
.fc-items {
	.owl-dots {
		width: 100%;
	}
}

.res-items,
.fc-items,
.ar-items {
	.owl-dot:not(.active) {
		background: #adbbff;
	}
}

.ar-items {
	.owl-dot.active {
		background: #4561ec;
	}
}

.tes-items {
	.owl-item:not(.active) .tes-item * {
		color: #bebec4;
	}

	.owl-dots {
		gap: 4px;
		counter-reset: dots;
		font-family: Inter, sans-serif;
		font-size: 16px;
		font-weight: 600;
		color: #4561ec;
	}

	.owl-dot {
		background: none;
		padding: 0;
		display: none;
	}

	.owl-dot.active,
	.owl-dot:last-child {
		display: block;
	}

	.owl-dot:last-child {
		display: flex;
		gap: 4px;
	}

	.owl-dot:last-child span:first-of-type {
		display: none;
	}

	.owl-dot:last-child.active span:first-of-type {
		display: block;
	}

	&.is-ar {
		.owl-dots {
			color: #7e93fb;
		}
	}
}

@media only screen and (max-width: 767px) {
	.sol-items,
	.sh-items,
	.lp-items {
		.owl-nav {
			display: none;
		}

		.owl-dots {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 992px) {
	.tes-items .owl-item:last-child .tes-item {
		border: none;
	}
}

.about-us[data-background="white"] {
	background-color: #e7ebff;
}

.about-us[data-background="gray"] {
	background-color: #17181c;
}

.about-us[data-background="white"] {
	background-color: #e7ebff;
}

.about-us[data-background="gray"] {
	background-color: #17181c;
}

.about-us[data-background="white"] h2 {
	color: #000;
}

.about-us[data-background="white"] div {
	color: #373839;
}

.about-us[data-background="gray"] h2 {
	color: #fff;
}

.about-us[data-background="gray"] div {
	color: #bebec4;
}

code {
	color: var(--indigo);
	font-family: "Inter";
	font-weight: 600;
}

.reources[data-background="black"] {
	background-color: #000;
}

.reources[data-background="black"] h2,
.reources[data-background="black"] div {
	color: #fff;
}

.testimonial[data-background="white"] {
	background-color: white;
}

.testimonial[data-background="gray"] {
	background-color: #f4f6ff;
}

.blog-details code {
	font-family: "Inter Tight";
	color: var(--indigo);
	font-weight: 600;
}

.blog-details h3 {
	font-weight: normal;
}

.blog-details figcaption {
	color: var(--black);
	font-family: Inter, sans-serif;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

@media screen and (max-width: 767px) {
	.blog-details h3 {
		font-size: 20px;
	}
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	&::-webkit-scrollbar {
		display: none;
	}
}

.vimeo-container {
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.hero {
	.w-richtext {
		h1 {
			margin: 0;
		}
	}
}

.w-container:before,
.w-container:after {
	content: none;
}

.cl-accordion-data {
	img,
	.cl-accord-heading {
		transition: opacity 0.4s ease-in-out;
	}

	&.open {
		.sol-acc-item-inner {
			gap: 10px;
		}

		img,
		.cl-accord-heading {
			opacity: 100%;
		}

		.cl-accordion-desc {
			height: auto;
		}

		@media screen and (max-width: 991px) {
			gap: 60px;

			.sol-acc-img.is-mobile {
				display: block;
			}
		}
	}

	.cl-accordion-desc {
		p:last-child {
			margin: 0;
		}
	}
}

.faq-item {
	&.open {
		gap: 16px;

		.faq-body {
			height: auto;
		}

		.faq-minus {
			display: flex;
		}

		.faq-plus {
			display: none;
		}
	}

	.faq-body {
		p:last-child {
			margin: 0;
		}

		a {
			color: white;
		}
	}
}

.lp-item {
	.lp-feat,
	.lp-overlay {
		transition: all 0.3s ease-in-out;
	}

	&.open {
		.lp-feat {
			height: auto;
		}

		.lp-overlay {
			display: none;
		}

		.lp-inner {
			padding-bottom: 42px;
		}
	}

	.lp-highlight:not(.w-condition-invisible) {
		& + .lp-inner {
			border: 1px solid #8590fb;
			border-radius: 0 0 4px 4px;
		}
	}
}

.about-cartd-description,
.two-line-text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.w-condition-invisible,
.w-dyn-bind-empty {
	display: none;
}

.global-cta {
	transition: all 0.3s ease-in-out;

	svg {
		circle,
		path {
			transition: all 0.3s ease-in-out;
		}
	}

	&:hover {
		&:not(.outline):not(.white),
		&.white.outline {
			svg {
				circle {
					fill: #4561ec;
				}

				path {
					stroke: white;
				}
			}
		}

		&.outline:not(.white),
		&.white:not(.outline) {
			svg {
				circle {
					fill: white;
				}

				path {
					stroke: #4561ec;
				}
			}
		}
	}
}

.richtext-heading {
	& * {
		margin: 0 !important;
	}
}

.lp-highlight.w-condition-invisible {
	opacity: 0;
	display: block !important;
}

.res-items .w-layout-cell {
	overflow: hidden;
}

.global-heading-horizontal,
.global-heading-left,
.global-heading-right {
	&.is-faq {
		margin: 0 !important;
	}
}

.ar-list-item {
	&,
	& * {
		cursor: pointer;
	}

	.ar-list-label {
		transition: color 0.3s ease-in-out;
	}

	&.active {
		.ar-orb {
			display: block;
		}

		.ar-list-label {
			color: black;
		}
	}
}

.social-link {
	svg path[fill="#4561EC"] {
		transition: fill 0.3s ease-in-out;
	}

	&:hover {
		svg path[fill="#4561EC"] {
			fill: #7e93fb;
		}
	}
}

.navbar_component {
	.main-nav-dd {
		.nav-dd-toggle .navbar_link {
			transition: color 0.3s ease-in-out;
			position: relative;

			&::before {
				content: "";
				height: 3px;
				bottom: 0;
				left: 0;
				position: absolute;
				width: 100%;
				opacity: 0;
				transition: opacity 0.3s ease-in-out;
				background: #7e93fb;
			}
		}

        .global-container {
            opacity: 0;
            transform: translateY(30px);
            transition: all 0.3s ease-in-out;
        }
	}

	&.hovering {
		background: black !important;

		.main-logo-black,
		.search-icon-black {
			display: none !important;
		}

		.main-logo-white,
		.search-icon-white {
			display: flex !important;
		}

		.nav-dd-toggle .navbar_link,
		.navbar_link.client-login {
			color: white !important;
		}
	}

	.main-nav-dd {
		&:hover {
			.nav-dd-list-container {
				visibility: visible;
			}

			.nav-dd-toggle .navbar_link {
				&::before {
					opacity: 1;
				}
			}

			.global-container {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}

	.rent-title-container {
		.indigo-highlight {
			color: #7e93fb;
		}
	}
}
